*{list-style:none;border:0px; margin:0px; padding:0px;}
.con-tainer{padding:0;margin:0 auto; max-width:1597px;}
.navbar{background-color:rgb(224, 82, 46); height:50px;display:flex;
justify-content:space-between; align-items: center;}
.navbar p{font-family: 'Encode Sans SC', sans-serif;letter-spacing:5px; font-weight:bold; font-size:20px;margin-left:20px;   }
.navlist{display:flex; justify-content:space-around; width:50%;}
.navlist li a{letter-spacing:2px;transition:0.2s;font-family: 'Encode Sans SC', sans-serif;font-size:18px;color:rgb(255, 255, 255);text-decoration:none;}
.navlist li a:hover{color:rgb(51, 51, 51);}

/*carousel*/
.carousel-item img{ height:300px;}
.carousel-indicators {height:10px;}
.carousel-indicators li.active {background-color: gray;}

